__pycache__/
*.py[cod]
*.pyi
.venv/
venv/
.eggs/
*.egg-info/
build/
dist/

.mypy_cache/
.pytest_cache/
.coverage
htmlcov/
.cache/

.env
*.env
.env.*

.DS_Store
Thumbs.db
.idea/
.vscode/

*.log
logs/

output/
TODO.md

#tmp 
tasks/VariantEffectPrediction/
tasks/ProteinVariantInteractions/

reference_codes/